.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


body {
    background-color: hsl(212, 45%, 89%);
}

.attribution { 
    font-size: 11px;
    text-align: center;
    margin-top: 5vh;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

p, h1 {
    font-family: "Outfit";
    text-align: center;
}

p {
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    letter-spacing: 0.2px;
    line-height: 140%;
}

h1 {
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    line-height: 120%;
}

#big-container {
        width: 300px;
        height: auto;
        background-color: white;
        padding: 15px;
        border-radius: 20px;
        justify-self: center;
        margin-top: 20vh;
        box-shadow: 2px 2px 10px hsla(217, 45%, 22%, 0.151);
    }

#big-container img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    
#text-container {
        width: 93%;
        height: auto;
        justify-self: center;
        padding: 10px;
    }

@media (min-width: 320px) {
    #big-container {
        width: 250px;
    }
}

@media (min-width: 425px) {
    #big-container {
        width: 300px;
    }
}