.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

:root {
  --light-blue: hsl(212, 45%, 89%);
  --med-blue: hsl(216, 15%, 48%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: "Outfit";
    background-color: var(--light-blue);
}