:root {
    --yellow: hsl(47, 88%, 63%);
    --light-gray: hsl(0, 0%, 42%);
    --dark-gray: hsl(0, 0%, 7%);
    --bs-body-bg: hsl(47, 88%, 63%);
}

.figtree-<uniquifier> {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#body {
    background-color: var(--yellow);
    font-family: "Figtree";
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#big-container {
    width: 400px;
    height: auto;
    background-color: white;
    justify-self: center;
    margin-top: 20vh;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 7px 7px 0px black;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.1s ease;
}

#big-container img {
    margin-bottom: 15px;
    border-radius: 20px;
}

#big-container:hover {
    box-shadow: 14px 14px 0px black;
}

#big-container:hover h1 {
    color: var(--yellow);
}

/* #learning-button {
    width: 120px;
    height: 30px;
    background-color: var(--yellow);
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
} */

#learning-button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
}

#publish-date {
    font-weight: 600;
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 800;
    transition: 0.1s color ease-in;
}

#blog-info {
    color: var(--light-gray);
    /* font-size: 16px; */
}

#author {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
}

#author img {
    width: 35px;
}

#author p {
    /* font-weight: bold; */
    margin-top: 10px;
}

@media screen and (max-width: 375px) {
    #big-container {
        width: 80%;
        height: auto;
    }

    h1 {
        font-size: 20px;
    }

    #learning-button {
        width: 40%;
        height: auto;
        font-size: 1rem;
    }
}